

 
  $primaricolor: #030b61fd;
  $titleResalt: hwb(236 5% 35% / 0.992);
  $colorAbout:#bfd2ecfd;
$secundaricolor:#004669;
$terciaricolor: #e6e6e6;
$colorCorrect: #54bc0a;
$colorIncorrect: #d70415;
$fourcolor: #2266e4ce;
$white: #f4f4f4;
$black: #000009;
$gris: #767676;
$ver: #5E9B87

